<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.playfarmb.mapperInterface.StoreMapper">
	
	<resultMap id="GameListMap" type="com.example.playfarmb.admin.store.domain.StoreDTO">
		<id property="gameId" column="gameId"/>
        <result property="gameTitle" column="gameTitle"/>
        <result property="releaseDate" column="releaseDate"/>
        <result property="price" column="price"/>
        <result property="discount" column="discount"/>
        <result property="discendDate" column="discendDate"/>
        <result property="playtype" column="playtype"/>
        <result property="tag" column="tag"/>
        <result property="ageRating" column="ageRating"/>
	</resultMap>
	
	<select id="gameList" resultMap="GameListMap">
		SELECT 
			game_id AS gameId, game_title AS gameTitle, 
			release_date AS releaseDate, price, 
			discount, discend_date AS discendDate, 
			playtype, tag, age_rating AS ageRating
		FROM game
		WHERE useyn='y'
	</select>
	
	
    <resultMap id="ImageResultMap" type="com.example.playfarmb.admin.common.domain.AdminImageDTO">
        <id property="imageId" column="imageId"/>
        <result property="path" column="imagePath"/>
        <result property="originName" column="imageOriginName"/>
        <result property="afterName" column="imageAfterName"/>
    </resultMap>

	<resultMap id="RequirementResultMap" type="com.example.playfarmb.admin.store.domain.AdminRequirementDTO">
		<id property="reqId" column="reqId"/>
		<result property="division" column="division"/>
		<result property="opsys" column="opsys"/>
		<result property="proc" column="proc"/>
		<result property="memory" column="memory"/>
		<result property="graphics" column="graphics"/>
		<result property="dver" column="dver"/>
		<result property="storage" column="storage"/>
		<result property="scard" column="scard"/>
	</resultMap>

    <resultMap id="GameResultMap" type="com.example.playfarmb.admin.store.domain.StoreDTO">
        <id property="gameId" column="gameId"/>
        <result property="gameTitle" column="gameTitle"/>
        <result property="releaseDate" column="releaseDate"/>
        <result property="price" column="price"/>
        <result property="discount" column="discount"/>
        <result property="discendDate" column="discendDate"/>
        <result property="playtype" column="playtype"/>
        <result property="tag" column="tag"/>
        <result property="titleImg" column="titleImg"/>
        <result property="ageRating" column="ageRating"/>
        <result property="detailCon" column="detailCon"/>
        <result property="modeName1" column="modeName1"/>
        <result property="modeDesc1" column="modeDesc1"/>
        <result property="modeName2" column="modeName2"/>
        <result property="modeDesc2" column="modeDesc2"/>
        <result property="modeName3" column="modeName3"/>
        <result property="modeDesc3" column="modeDesc3"/>
        <result property="useyn" column="useyn"/>
        <result property="fileGroupId" column="fileGroupId"/>
        <result property="regDate" column="regDate"/>
        <result property="modDate" column="modDate"/>
        <collection property="images" 
        	ofType="com.example.playfarmb.admin.commondomain.AdminImageDTO" resultMap="ImageResultMap"/>
        <collection property="requirements" resultMap="RequirementResultMap"
        	ofType="com.example.playfarmb.admin.store.domain.AdminRequirementDTO"/>
    </resultMap>

    <select id="gameDetailData" parameterType="int" resultMap="GameResultMap">
        SELECT 
            g.game_id AS gameId,
            g.game_title AS gameTitle,
            g.release_date AS releaseDate,
            g.price,
            g.discount,
            g.discend_date AS discendDate,
            g.playtype,
            g.tag,
            g.title_img AS titleImg,
            g.age_rating AS ageRating,
            g.detail_con AS detailCon,
            g.mode_name1 AS modeName1,
            g.mode_desc1 AS modeDesc1,
            g.mode_name2 AS modeName2,
            g.mode_desc2 AS modeDesc2,
            g.mode_name3 AS modeName3,
            g.mode_desc3 AS modeDesc3,
            g.useyn,
            g.file_group_id AS fileGroupId,
            g.reg_date AS regDate,
            g.mod_date AS modDate,
            i.image_id AS imageId,
            i.path AS imagePath,
            i.origin_name AS imageOriginName,
            i.after_name AS imageAfterName,
            r.req_id As reqId,
            r.division As division,
            r.opsys As opsys,
            r.proc As proc,
            r.memory As memory,
            r.graphics As graphics,
            r.dver As dver,
            r.storage As storage,
            r.scard As scard
        FROM game g
        LEFT JOIN image i ON g.file_group_id = i.file_group_id
        LEFT JOIN requirement r ON g.game_id = r.game_id
        WHERE g.game_id = #{gameId}
    </select>
    
    <update id="disusedStatus" parameterType="int">
    	UPDATE game SET useyn='n' 
    	WHERE game_id = #{gameId}
    </update>
    
   
    
    <insert id="insertGame" parameterType="com.example.playfarmb.admin.store.domain.StoreDTO" useGeneratedKeys="true" keyProperty="gameId">
        INSERT INTO game (
            game_title,
            release_date,
            price,
            discount,
            discend_date, 
            title_img,
            age_rating,
            detail_con,
            mode_name1,
            mode_desc1,
            mode_name2,
            mode_desc2,
            mode_name3,
            mode_desc3,
            playtype,
            tag
        ) VALUES (
            #{gameTitle},
            #{releaseDate},
            #{price},
            #{discount},
            #{discendDate},
			'sdsd',            
            #{ageRating},
            #{detailCon},
            #{modeName1},
            #{modeDesc1},
            #{modeName2},
            #{modeDesc2},
            #{modeName3},
            #{modeDesc3},
            #{playtype},
            #{tag}
        )
    </insert>

    <insert id="insertRequirements" parameterType="java.util.List">
        INSERT INTO requirement (
            game_id,
            opsys,
            proc,
            memory,
            graphics,
            dver,
            storage,
            scard,
            division
        ) VALUES
        <foreach collection="list" item="requirement" separator=",">
            (
                #{requirement.game.gameId},
                #{requirement.opsys},
                #{requirement.proc},
                #{requirement.memory},
                #{requirement.graphics},
                #{requirement.dver},
                #{requirement.storage},
                #{requirement.scard},
                #{requirement.division}
            )
        </foreach>
    </insert>

</mapper>
