<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.playfarmb.mapperInterface.UserMapper">


  <select id="findAgeGroupCounts" resultType="com.example.playfarmb.admin.user.domain.AgeGroupCountDTO">
          <![CDATA[ SELECT CASE 
            WHEN age < 20 THEN '10대'
            WHEN age BETWEEN 20 AND 29 THEN '20대'
            WHEN age BETWEEN 30 AND 39 THEN '30대'
            WHEN age BETWEEN 40 AND 49 THEN '40대'
            WHEN age BETWEEN 50 AND 59 THEN '50대'
            WHEN age >= 60 THEN '60대 이상'
            END AS ageGroup, 
            COUNT(*) AS totalCnt 
        FROM 
            (SELECT birthday, 
                date_format(now(), '%Y') - date_format(birthday, '%Y') AS age 
             FROM user) AS c 
        GROUP BY ageGroup 
        ORDER BY ageGroup
        ]]>
    </select>



</mapper>